@use "sass:math";

@import 'variables';


@function trapezium-shift($trapezium-height) {
  @return (-1 * math.tan($trapezium-skew-angle) * $trapezium-height) / 2;
}


@media all and (max-width:1283px) {
  body {
    .container {
      #sixth-page {

        .sixth-page__transparent {
          text-align: center;
        }
        & > * {
          width: 100% !important;
          margin:0;
        }
      }
    }
  }
}

@media all and  (max-width: $min-extra-large) {
  body {
    .container {
      #second-page {
        .second-page__photo-wrapper {
          display: none;
        }
        .second-page__content-wrapper {
          width:100%;
          .content-body {
            gap:40px;
            .content-block {
              .block__header {
                white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
}

@media all and (max-width:1000px) {
  body {


    .main-ham-btn {
      right: 10px;
      top: 5px;
    }

    .header {
      height: 70px;

      .header__menu {
        display: none;
      }

      .header__logo {
        width: 50%;

        img {
          min-width: 120px;
          margin: 5px;
        }
      }

      .lng-ham-btns {
        .lng-ham-btns__btns {
          width: 75px;

          a {
            font-size: 0.875rem;
          }
        }
      }
    }

    .ham-btn {
      width: 100px;
    }


    .ham-menu-wrapper {
      padding: 0px 50px 0px 125px;

      .ham-menu__content {
        padding: 0 !important;
        height: 75%;

        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media all and (max-width:1070px) {
  .header {
    .header__menu {
      width: auto;
      

      a {
        height: 100%;
      }
    }

    .header__logo {
      width: 100px;
    }
  }

  .ham-menu_wrapper {
    .ham-menu__content {
      height: 75%;
    }
  }
}

@media all and (max-width: $tablets) {

  // body {
  //   overflow-x: hidden;
  // }
  body {
    width: 100%;

    .main-ham-btn {
      right: 10px;
      top: 5px;
    }

    .container {
      overflow: auto;
      overflow-x: hidden;

      section {
        width: 100% !important;
        margin: 0 !important;
      }

      .down-arrow {
        position: relative;
        margin-top: -65px;

        img {
          width: 60px;
          filter: brightness(0) invert(1);
        }
      }

      #first-page {
        background-image: url(http://r3dmotion.pl/images/main.jpeg) !important;
        height: 100vh;
        min-height: 730px;
        overflow-x: hidden;
        display: flex;
        align-items: center;

        .first-page__left {


          width: 100% !important;
          margin: 0;
          padding: 0;


          .left__content__wrapper {
            position: relative;
            width: 100% !important;
            min-width: 0;
            margin: 0;

            .left__arrow {
              display: none;
            }

            .left__content {
              padding: 33px;
              padding-right: 60px;
              height: auto;
              margin: 0 !important;
              width: 80%;
              min-width: 340px;
              overflow: hidden;


              h1,
              h3 {
                width: 85%;
              }

              h1 {
                font-size: 2.5rem;
                line-height: 50px;

              }


              &::before {
                display: none;
              }

              &::after {

                content: "";
                left: -1.7 * trapezium-shift(100%);

              }
            }
          }

          .menu {
            display: none;
          }
        }

        .first-page__img {
          display: none;
        }
      }

      #second-page {

        padding: 20px;
        box-shadow: none;

        .second-page__photo-wrapper {
          display: none;
        }

        .second-page__content-wrapper {
          width: 100%;
          flex-direction: column;

          .content-header {
            h1 {
              font-size: 2.75rem;
              line-height: 57.5px;
            }
          }

          .content-body {
            flex-direction: column;
            gap: 40px;

            .content-block {
              align-items: center;
              justify-content: center;
              text-align: center;
              padding: 35px;
              width: 100%;
              -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
              -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
              box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);


              .block__header {
                justify-content: center;
                margin-bottom: 40px;

                img {
                  margin-right: 15px;
                }

                h1 {
                  overflow: visible;
                  white-space: nowrap;
                }
              }

              p {
                width: 90%;
              }
            }
          }
        }
      }

      #third-page {
        display: none;
      }

      #sixth-page {
        margin: 0;
        padding: 40px 0 0 0;
        flex-direction: column;
        flex-wrap: nowrap;

        .sixth-page__transparent {
          width: 100%;
          text-align: center;

          &>* {
            width: calc(100% - 22.5px);
            margin: 12.5px;
          }

          h1 {
            margin-bottom: 40px;
            font-size: 2.5rem;
          }


        }

        .sixth-page__red-square {
          width: 100%;
          margin: 0;
          margin-top: 30px;
          height: 100%;
          padding: 45px;
          min-width: 0;
          background-color: $main-red-solid;

          h1 {
            white-space: normal;

            img {
              margin-right: 20px;
            }
          }

          &::before,
          .respDiv {
            display: none;
          }
        }
      }

      #printers {
        padding: 50px 7.5px 40px 7.5px;
        height: auto;
        border-top: 50px solid $main-red-solid;
        display: flex;
        flex-direction: column;
        align-items: center;


        &>* {
          margin: 0;
          padding: 0;
        }

        .printers__title {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 50px;
          font-size: 2.25rem;
          color: rgb(40, 40, 40);
          -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
          -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
          box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
        }

        .printers__flex {
          flex-direction: column;
          gap: 50px;
          top: 0;
          height: auto;

          .printers__arrow {
            display: none;
          }

          .printer__wrapper {
            width: 100%;
            //padding: 50px;
            margin: 0;
            padding: 0;
            height: auto;
            // display: block;

            img {
              width: 80%;
              height: 80%;
              margin-bottom: -180px;

            }

            .printer__content {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding-left: 35px;
              padding-right: 35px;
              text-align: center;
              margin: 0;
              top: 0;

              h1 {
                margin: 5px;
              }

              h3 {
                margin: 30px 0px 30px 0px;
                text-align: center;
              }

              .btn {
                width: 105%;
              }

            }
          }
        }
      }

      #sponsors {
        padding: 20px;

        .sponsors__flex {
          margin-bottom: 15px;

          h1 {
            width: 100%;
            text-align: center;
            margin: 20px;
          }

          img {
            width: 60vw;
            height: 60vw;
            margin: 15px;

          }

        }

        .sponsors__red-square {
          flex-direction: column;
          padding: 0 30px 0px 30px;

          h1 {
            width: 100%;
            text-align: center;
            margin-top: 30px;
            font-size: 2rem;

          }

          .btn {
            width: 250px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }
      }

      #footer {
        padding: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;

        .logo {
          margin-top: 15px;
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        &>* {
          margin: 10px;
          text-align: center;
        }

        .footer__block {
          img {
            margin: 10px;
          }
        }
      }
    }
  }
}



@media only screen and (min-width: $tablets) and (max-width: $large) {


  .header {
    .header__logo {
      background-image: url("http://r3dmotion.pl/images/logo_small.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center;
      width: 100px;
      a {
        img {
          display: none;
        }
      }
    }
    .header__menu {
      width: 100%;
    }
  }
  .container {
    #first-page {
      .first-page__left {
        width: 100px;
      }

      .first-page__img {
        width: calc(100% - 100px);
      }

    }

    #printers {

      .printers__flex {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .printer__wrapper {
          width: 80%;
        }

        .printers__arrow {
          display: none;
        }
      }
    }
  }
}


@media only screen and (min-width: $desktop) and (max-width: $large) {
  // Large desktop styles
}

@media only screen and (min-width: $min-extra-large) {
  // Extra large desktop styles
}