@use "sass:math";

@import 'variables';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    position: absolute;
    // overflow-x: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@function trapezium-shift($trapezium-height) {
    @return (-1 * math.tan($trapezium-skew-angle) * $trapezium-height) / 2;
}

@mixin trapeziumLeftRight($height, $color) {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100% + 1 * trapezium-shift($height);

    &::before {
        margin: 10px;
        z-index: 2;
        content: "";
        display: block;
        position: absolute;
        left: 1 * trapezium-shift($height);
        top: 0;
        bottom: 0;
        transform: skew($trapezium-skew-angle);
        width: 100% - 2 * trapezium-shift($height);
        background-color: $color;
    }
}

@mixin trapeziumNoBg($height) {
    position: relative;

    &::after {
        z-index: 1;
        display: block;
        position: absolute;
        left: -1 * trapezium-shift($height);
        top: 0;
        bottom: 0;
        transform: skew($trapezium-skew-angle);
        width: 100%;
    }
}

@mixin trapeziumLeft($height, $bg-color) {
    position: relative;
    overflow: visible;

    &::after {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        left: -1 * trapezium-shift($height);
        top: 0;
        bottom: 0;
        transform: skew($trapezium-skew-angle);
        width: 100%;
        background-color: $bg-color;
        mix-blend-mode: multiply;
        overflow: visible;
    }
}

@mixin trapeziumRight($height, $bg-color) {
    overflow: visible;
    position: relative;

    &::after {
        z-index: -1;
        content: "";
        display: block;
        position: absolute;
        right: -1 * trapezium-shift($height);
        top: 0;
        bottom: 0;
        transform: skew($trapezium-skew-angle);
        width: 100%;
        background-color: $bg-color;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    // overflow-x:hidden;
}



@keyframes levitating {
    0% {}

    50% {
        transform: translateY(-7.5px);
    }

    100% {
        transform: translateY(0px);
    }
}



.main-ham-btn {
    z-index: 110;
    position: fixed;
    top: 11.30px;
    right: 22.5px;
    width: 62.5px;
    height: 62.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    transition: .25s all ease;

    &:hover {
        scale: 1.125;
    }

    .ham-btn__lines {
        width: 100%;
        height: 3.5px;
        background-color: white;
        z-index: 110;
        position: relative;
    }
}


.ham-menu-wrapper {
    display: none;
    height: 100%;
    opacity: 0;
    padding: 0px 50px 0px 150px;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100;
    align-items: center;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: skew($trapezium-skew-angle);
        right: -2 * trapezium-shift(100%);
        overflow: hidden;
        z-index: -1;
        -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        //mix-blend-mode: multiply;
        overflow: visible;
        mix-blend-mode: multiply;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 25px;
        height: 100%;
        background-color: $main-red-solid;
        transform: skew($trapezium-skew-angle);
        left: 1.15 * trapezium-shift(100%);
        overflow: visible;
        z-index: -1;
        -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.275);
        //mix-blend-mode: multiply;
        overflow: visible;
        mix-blend-mode: multiply;
    }

    .ham-menu__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        width: 100%;
        height: 60%;
        padding: 40px 20px 40px 20px;
        flex-shrink: 0;


        a {
            text-decoration: none;
            color: black;
            font-size: 1.625rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.1s ease;
            text-align: right;

            &:hover {
                color: $main-red-solid;
            }
        }
    }




}

.header {
    z-index: 100;
    height: 85px;
    width: 100%;
    background-color: $header-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
    -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
    box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);

    .header__logo {
        width: 450px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }

            img {
                transition: all .5s ease;
                max-width: 400px;
                width: 55%;
                //height: 55%;

            }
        }

    }

    .header__menu {
        height: 100%;
        width: calc(100% - 680px);
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 14px;

        .menu__link {
            padding: 27.5px 35px 27.5px 35px;
            color: white;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            font-weight: 1rem;
            transition: all .25s ease;

            // transition: scale 0s ease 0s;

            display: flex;
            align-items: center;
            justify-content: space-around;
            transform-origin: center;
            //  transition: none;


            &:hover {
                font-size: 1.15rem;
            }

            &:active {
                text-shadow: 0px 0px 16px rgba(255, 255, 255, .75);
            }
        }


    }

    .lng-ham-btns {
        //width: 230px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lng-ham-btns__btns {
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: transparent;
            color: white;
            margin-right: 5px;


            a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                position: relative;
                top: 1px;
                letter-spacing: .75px;

                span {
                    font-weight: 800;
                }
            }
        }

        .ham-btn {
            height: 100%;
            position: relative;
            z-index: 110;
        }
    }
}

.ham-btn {
    width: 125px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 110;
    position: relative;
    padding: 10px;
    position: absolute;

    button {
        width: 40%;
        height: 62.5%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        border: none;
        margin-left: 10px;
        z-index: 110;
        position: relative;

        .ham-btn__lines {
            width: 100%;
            height: 3.25px;
            background-color: white;
            position: relative;
            z-index: 110;
        }
    }
}

.container {

    min-width: 100%;
    margin: 0;
    padding: 0;

    &>*:not(#second-page) {
        width: 100%;
        min-width: 100%;
    }

    #second-page {
        scroll-margin-top: 85px;
    }

    #first-page {
        height: calc(100vh - 85px);
        display: flex;

        .first-page__left {
            z-index: 10;
            width: 445.95px;
            height: calc(100% - 85px);
            display: flex;
            align-items: left;
            justify-content: space-around;
            padding-bottom: 100px;
            flex-direction: column;

            .menu {
                width: 155px;
                height: 60px;
                margin-top: 80px;
                margin-left: 25px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .menu__dot {
                    width: 17.5px;
                    height: 17.5px;
                    background-color: rgb(213, 213, 213);
                }

                .menu__dot--active {
                    background-color: $main-red-solid;
                }
            }

            .left__content__wrapper {
                margin-top: 170px;
                width: 60vw;
                min-width: 550px;
                flex-shrink: 0;
                display: relative;


                .left__arrow {
                    width: 35px;
                    margin-right: 100px;
                    position: relative;
                    top: 270px;
                    left: 50px;
                }

                .left__content {
                    display: flex;
                    align-items: left;
                    flex-direction: column;
                    justify-content: space-around;
                    width: auto;
                    height: 100%;
                    padding: 50px 5px 50px 200px;
                    min-width: 740px;

                    mix-blend-mode: multiply;



                    &::after {
                        // background-color: rgb(228,2,46);
                        // mix-blend-mode: multiply;

                        margin-right: 20px;
                        // border-right: 20px solid transparent;
                        // box-shadow: 40px 0px 0px 0px rgba(0,0,0,0.75);

                    }

                    &::before {
                        z-index: 20;
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        flex-shrink: 0;
                        top: 0;
                        bottom: 0;

                        transform: skew($trapezium-skew-angle);
                        height: 100%;
                        width: 30px;
                        background-color: $main-red-solid;


                    }

                    h1 {
                        font-size: 3.75rem;
                        font-weight: 800;
                        color: white;
                        line-height: 70px;
                        width: 90%;
                        margin-bottom: 20px;
                    }

                    h3 {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: white;
                        width: 70%;
                        line-height: 27.5px;
                        margin-bottom: 50px;
                    }

                    button {
                        width: 175px;
                    }
                }
            }
        }

        .first-page__img {
            z-index: 0;
            width: calc(100% - 445.95px);
            object-fit: cover;
        }
    }

    #second-page {
        position: relative;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px 40px 100px 40px;
        width: calc(100vw - 110px);
        //margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        -webkit-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
        -moz-box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);
        box-shadow: 1px 10px 24px 0px rgba(66, 68, 90, 0.2);


        .second-page__photo-wrapper {
            height: calc(100% - 500px);
            width: 35%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            position: relative;


            .second-page__photo {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }

            &::after {
                z-index: 1;
                content: "";
                display: block;
                position: absolute;
                right: -25px;
                bottom: -55px;
                width: 80%;
                height: 60%;
                background-color: $main-red-solid;
                transform: skewX(-11deg);
                overflow: visible;
                mix-blend-mode: multiply;
            }
        }


        .second-page__content-wrapper {
            width: 50%;
            height: auto;
            display: flex;
            flex-wrap: wrap;

            .content-header {
                width: 100%;
                padding: 15px;

                &>* {
                    margin-bottom: 25px;
                }

                h1 {
                    font-size: 4rem;
                    font-weight: 800;
                }


                h3 {
                    font-size: 1.2rem;
                    display: flex;
                    font-weight: 300;
                    align-items: center;
                }
            }

            .content-body {
                width: 100%;
                display: flex;
                align-items: top;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;

                .content-block {
                    display: flex;
                    flex-direction: column;
                    // margin: 20px;
                    width: calc(50% - 40px);
                    padding: 15px;

                    .block__header {
                        height: 25px;
                        width: 100%;
                        //padding:10px;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        margin-bottom: 25px;
                        position: relative;

                        h1 {
                            font-size: 1.75rem;
                        }

                        img {
                            position: relative;
                            top: 2px;
                            width: 20px;
                            height: 17px;
                            margin-right: 20px;
                        }
                    }



                    p {
                        font-size: 1.2rem;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    #third-page {
        z-index: 10;
        position: relative;
        top: -50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: no-wrap;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;

        .third-page__img {
            height: 100%;
            width: 70vw;

            &::after {
                content: "";
                background-image: url("http://r3dmotion.pl/images/third_page_img.png");
                background-size: cover;
            }
        }

        .third-page__content {
            width: 70vw;
            height: 100%;
            margin-left: -1 * trapezium-shift(100%);
            transform: translateZ(-1px);
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 100px;
            padding-left: 12.5%;
            flex-direction: column;

            button {
                width: 300px;
                z-index: 100 !important;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }

            h1 {
                font-size: 2rem;
                font-weight: 800;
                color: white;
            }

            &>* {
                margin-top: 40px;
                color: white;
            }
        }
    }

    #printers {
        width: 100%;
        //height: 1500px;
        background-color: rgb(245, 245, 245);
        padding-bottom: 20px;
        

        .printers__title {
            width: 100%;
            height: 200px;
            padding-left: 150px;
            padding-top: 20px;
            font-size: 3rem;
            font-weight: 800;
            background-color: white;
        }

        .printers__flex {
            width: 100%;
            display: flex;
            align-items: top;
            justify-content: space-between;
            position: relative;
            top: -100px;

            .printers__arrow {
                width: 125px;
                height: 125px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }

                &:hover img {
                    filter: brightness(0.1);
                }

                img {
                    width: 75px;
                    height: 75px;
                }

            }

            .printers__arrow--left {
                margin-top: 15%;
                top: 50%;

                img {
                    rotate: 90deg;
                }
            }

            .printers__arrow--right {
                margin-top: 15%;

                img {
                    rotate: -90deg;
                }
            }

            .printer__wrapper {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;

                img {
                    position: relative;
                    z-index: 10;
                    width: 400px;
                    height: 600px;
                    margin-bottom: -180px;
                }

                .printer__img--smaller {
                    transform: scale(0.875) translateY(15px);
                }


                .printer__content {
                    z-index: 0;
                    position: relative;
                   
                    margin-bottom: 100px;
                    padding-top: 150px;
                    padding: 175px 60px 80px 60px;
                    background-color: white;
                    -webkit-box-shadow: 1px 10px 50px 0px rgba(66, 68, 90, 0.15);
                    -moz-box-shadow: 1px 10px 50px 0px rgba(66, 68, 90, 0.15);
                    box-shadow: 1px 10px 50px 0px rgba(66, 68, 90, 0.15);

                    h1 {
                        font-size: 2rem;
                        font-weight: 800;
                        margin-bottom: 20px;
                    }

                    h3 {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 40px 0px 40px 0px;
                    }



                    .last {
                        border-bottom: 2px solid rgb(213, 213, 213) !important;
                    }

                    .printer-spec {
                        border-top: 2px solid rgb(220, 220, 220) !important;
                        width: 100%;
                        padding: 10px 15px 10px 15px;
                        font-size: 1.7rem;
                        outline: none;
                        background-color: white;
                        border: none;
                        text-align: left;
                        position: relative;
                        transition: all ease .25s;

                        &:hover {
                            border: $main-red-solid;
                            cursor: pointer;
                            transform: scale(1.015);
                            
                            i {
                                color: $main-red-solid;
                            }
                        }

                        .printer-spec__text {
                            font-size: 1.25rem;
                            clear: both;
                            color: black;
                            position: relative;
                            display: none;
                            opacity: 0;
                            height: auto;
                            transform: scale(0.5);
                            left: -50px;

                        }

                        i {
                            transition: all ease .375s;
                            color: rgb(90, 90, 90);
                            position: absolute;
                            right: 0;
                        }
                    }

                    .btn {
                        width: 270px;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    #sixth-page {
        background-image: url(http://r3dmotion.pl/images/sixth-page.png);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 300px 100px 100px 100px;
        gap: 25px;
        margin-top: -425px;
        z-index: -100;
        flex-wrap: wrap;



        .sixth-page__transparent {
            width:40%;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin-right:25px;
        

            & > * {
                margin-bottom: 30px;
                color:white;
            }

            h1 {         
                position:relative;
                bottom: 20px;
                left:15px !important;
                font-size: 3rem;
            }

            h3 {
                font-size: 1.5rem;
                
            }

            .text--red {
                color: $main-red-solid;
            }
        }

        .sixth-page__red-square {
            padding: 50px 150px 50px 150px;
            transform: translateZ(-1px);
            width: 45%;
            height: fit-content;
            position: relative;
            flex-shrink: 1;
            //margin: 100px;
            display: flex;
            align-items: left;
            flex-direction: column;
            min-width: 600px;


            &>* {
                position: relative;
                margin-bottom: 30px;
                flex-shrink: 0;

            }

            &::before {
                z-index: -1;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 95%;
                height: 100%;
                background-color: $main-red-solid;
                overflow: auto;
                transform: skewX(-11deg);

            }

            h1 {
                font-size: 2rem;
                color: white;
                white-space: nowrap;

                img {
                    margin-right: 50px;
                }
            }

            h3 {
                font-size: 1.25rem;
                color: white;
                font-weight: normal;
            }

            .list {
                .list__item {
                    font-size: 1.25rem;
                    color: white;
                    margin-bottom: 12.5px;
                    font-weight: bold;

                    img {
                        width: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #sponsors {
        padding: 50px 100px 0px 100px;
        margin-bottom: -100px;

        .sponsors__flex {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            margin-bottom: 50px;

            &>* {
                margin-right: 60px;
            }

            h1 {
                color: black;
                font-size: 3rem;
                font-weight: 800;
                width: 240px
            }

            img {
                width: 140px;
                height: 140px;
            }
        }



        .sponsors__red-square {
            width: 100%;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            transform: translateZ(-1px);


            &::before {
                z-index: -1;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $main-red-solid;
                overflow: auto;
                transform: skewX(-11deg);
            }


            h1 {
                font-size: 3rem;
                width: 50%;
                color: white;
            }

            .btn {
                width: 300px;
            }
        }
    }

    #footer {
        width: 100%;
        padding: 200px 100px 75px 100px;
        background-color: rgb(40, 40, 40);
        display: flex;
        align-items: top;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;

        img {
            width: 400px;
        }

        &>* {
            color: white;
           // margin:50px;

            h1 {
                margin-bottom: 25px;
            }

            p {
                line-height: 27.5px;
            }

            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }

        .footer__block--bolder {
            font-weight: 800;
        }
    }
}

.border-none {
    border: none !important;
    transition: 0.3s scale ease;

}

.btn {
    border: 2.375px solid;
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    font-size: 1.125rem;
    transition: .25s ease all;
    z-index: 100;
    transform: translateZ(1px);

    i {
        position: relative;
        top: 3px;
    }

    &:hover {
        background-color: white;
        color: black;
    }

    &:active {
        border-color: $main-red-solid;
    }
}

.menu__link--active {
    font-weight: 800 !important;
    font-size: 1.25rem;
    border-bottom: 10.5px solid white;
    scale: 1.05;

}

.text--red {
    color: $main-red-solid;
}

.down-arrow {
    margin: 30px auto 30px auto;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
    }

    img {
        position: relative;
        width: 55px;
        animation-name: levitating;
        animation-duration: 1.25s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-fill-mode: repeat;
    }

    &:hover img {
        animation-play-state: paused;
        filter: brightness(0);
    }
}


.btn--transparent {
    background: transparent;
    border-color: white;
    color: white;
}

.btn--red {
    background-color: $main-red-solid;
    border-color: $main-red-solid;
    color: white;

    &:active {
        background-color: $main-red-solid;
        color: white;
    }
}

.printers-active {
    height: auto !important;
}

.clipped__left {
    @include trapeziumLeft($height: 100%, $bg-color: $main-red-solid);
}

.clipped__right {
    @include trapeziumRight($height: 100%, $bg-color: $main-red-solid);
}

.clipped__left--noBG {
    @include trapeziumNoBg($height: 100%);
}

.clipped__left-right {
    @include trapeziumLeftRight($height: 100%, $color: $main-red-solid);
}

.active {
    height: auto !important;
    padding: 0;
}

.animate {
    will-change: transform;
}