$mobile: 560px;
$tablets: 768px;
$desktop: 1024px;
$large: 1300px;
$min-extra-large: 1301px;


:export {
    mobile: $mobile;
    tablets: $tablets;
    desktop: $desktop;
    large: $large;
    min-extra-large: $min-extra-large;
}


$header-bg: rgba(0, 0, 0, 0.8);
$main-red-solid: rgba(228, 2, 46, 1);
$trapezium-skew-angle: -11deg;
$corner-bevel: 100;
